<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602678308825-mbj04mk6jnfd3i7cuc3ashcpuhqvv7se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602678308825-mbj04mk6jnfd3i7cuc3ashcpuhqvv7se</string>
	<key>API_KEY</key>
	<string>AIzaSyCvda0wiF7_2rRioFYsfKQYvMb2Bt8DcHA</string>
	<key>GCM_SENDER_ID</key>
	<string>602678308825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HandShakeProject</string>
	<key>PROJECT_ID</key>
	<string>handshake-project-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>handshake-project-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602678308825:ios:e4ad03b39c6c7c3d59f3c8</string>
</dict>
</plist>