<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717664529828-ffol7001052aj8c12npqg1c4tspt8g17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717664529828-ffol7001052aj8c12npqg1c4tspt8g17</string>
	<key>API_KEY</key>
	<string>AIzaSyA06L_4MQWWajMDXwc_eE2xFpkRUbJEVq8</string>
	<key>GCM_SENDER_ID</key>
	<string>717664529828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HandShakeProject</string>
	<key>PROJECT_ID</key>
	<string>handshake-project-on-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>handshake-project-on-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717664529828:ios:abc397ef2943f5309ca531</string>
</dict>
</plist>